client
client/**
node_modules
node_modules/**
jspm_packages
jspm_packages/**
thirdpartylib
thirdpartylib/**
config/src
config/server
config/server/**
config/palette
config/palette/**
config/bundles
config/bundles/**
config/common
config/common/**
config/component
config/component/**
config/index.js
config/jspm_packages
config/jspm_packages/**
dest
dest/**
